# Python
__pycache__/
*.py[cod]
*.log
*.egg-info/
.coverage
coverage.xml

# Virtual environments
env/
venv/
.venv/

# Django
db.sqlite3
media/
test_media/

# Environment variables
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / static
staticfiles/*
!staticfiles/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
